@charset "UTF-8";
body {
  background: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
}

body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
}

.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo, .footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .logo, .footer__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.accent {
  color: #2196f3;
}

.page__header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.container__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container__navigation {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container__navigation {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container__navigation {
    width: 1200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation__list {
    display: flex;
    margin-left: 87px;
    gap: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation__list {
    display: flex;
    margin-left: 93px;
  }
}
@media screen and (max-width: 767px) {
  .navigation__item {
    margin-bottom: 32px;
  }
  .navigation__item:last-child {
    margin-bottom: 168px;
  }
}

.navigation__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus, .navigation__link.current {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .navigation__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__item {
    position: relative;
  }
  .navigation__item + .navigation__item {
    margin-left: 50px;
  }
  .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .current::after {
    position: absolute;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    background: #2196f3;
    border-radius: 2px;
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
  }
}
.contacts__link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
  .contacts__item {
    margin-bottom: 32px;
  }
  .contacts__item:first-child {
    margin-bottom: 0;
  }
  .contacts__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  .contacts__link.tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    align-items: center;
  }
  .contacts__icon {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
    fill: #2196f3;
  }
}
@media screen and (max-width: 1199px) {
  .contacts__link.tel {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
  .contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
  .contacts.list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
.soc__list {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .soc__list {
    display: none;
  }
}

.soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .menu__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 796px;
    padding: 48px 40px;
    background-color: #ffffff;
    display: none;
  }
  .menu__container.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__container {
    width: 1200px;
    display: flex;
  }
}
.btn__menu {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .btn__menu.is-open {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .btn__menu {
    display: none;
    width: 24px;
    height: 16px;
  }
}
.btn__menu.is-open .icon__cross {
  display: block;
}

.icon__cross {
  display: none;
  width: 24px;
  height: 16px;
}

.is-open .icon__menu {
  display: none;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/m-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/m-hero-2x.jpg");
  }
}
@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tab-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tab-hero-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 360px;
  color: #ffffff;
  margin: 0 auto 30px auto;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
  }
}
.button.main {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  background-color: #2196f3;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.main:hover, .button.main:focus {
  background-color: #188ce8;
}

.quality__icon--box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .quality__icon--box {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .quality__icon--box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .quality__icon--box {
    width: 270px;
  }
}

@media screen and (min-width: 480px) {
  .quality__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .quality__list {
    flex-wrap: nowrap;
  }
}

.quality__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .quality__title {
    text-align: center;
  }
}

.quality__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .quality__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .quality__text {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities {
  padding-top: 0;
}
.activities__list {
  display: flex;
  gap: 30px;
}
.activities__thumb {
  position: relative;
}

.activities__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.activities__text {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.activities__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}

.our__team {
  background-color: #f5f4fa;
}
.our__team__title, .clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.our__team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our__team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .our__team__item {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .our__team__item {
    width: 450px;
    margin-bottom: 0px;
  }
  .our__team__item .our__team__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .our__team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .our__team__item {
    width: 270px;
  }
}

.photo__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.photo__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.photo__thumb {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (max-width: 479px) {
  .images.team {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .images.team {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .images.team {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .images.team {
    width: 270px;
  }
}

.social__media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social__media__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__media__link:hover .social__media__icon, .social__media__link:focus .social__media__icon {
  fill: #ffffff;
}

.social__media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__media__link:hover, .social__media__link:focus {
  background: #2196f3;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .clients__list {
    width: 480px;
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196f3;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .footer__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    width: 1200px;
    display: flex;
    align-items: baseline;
    justify-content: normal;
  }
}

.footer__logo {
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
    padding: 0;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
  }
}
.address__item + .address__item {
  margin-top: 8px;
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--mod {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 10px;
}
.address__link:not(:last-child) {
  margin-bottom: 10px;
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .container__footer__icon {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .container__footer__icon {
    margin-left: 70px;
  }
}
.footer__icon {
  fill: #ffffff;
}
.footer__icon__title {
  margin-right: auto;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__icon__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon__link:hover, .footer__icon__link:focus {
  background: #2196f3;
}

@media screen and (max-width: 1199px) {
  .container__footer__form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .container__footer__form {
    margin-left: auto;
  }
  .form {
    display: flex;
  }
  .form__label {
    width: 358px;
  }
}
.form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form__input {
  position: relative;
  width: 100%;
  height: 50px;
  background: #2f303a;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form__input[placeholder=E-mail] {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.form__btn {
  padding: 10px 28px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.form__btn__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  width: 144px;
  height: 30px;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.form__btn__icon {
  margin-left: 8px;
}
@media screen and (min-width: 1200px) {
  .form__btn {
    margin-left: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 1199px) {
  .modal__form__label {
    width: 370px;
  }
  .modal__form__title {
    width: 370px;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__form {
  width: 448px;
}
.modal__form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto 30px auto;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .modal__form__title {
    width: 370px;
    margin-right: 78px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__form__title {
    width: 448px;
    margin-bottom: 30px;
  }
}

.modal__form__label {
  position: relative;
  margin-bottom: 28px;
  display: block;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal__form__label {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__form__label {
    width: 448px;
  }
}

.modal__form__text {
  position: absolute;
  top: -50%;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__form__text:focus {
  border: 1px solid #2196f3;
}

.modal__form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form__input:focus {
  border: 1px solid #2196f3;
}
.modal__form__input:focus[placeholder=" "] {
  padding-left: 40px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form__label:focus-within .modal__icon {
  fill: #2196f3;
}

.modal__form__label--comment {
  position: relative;
  display: block;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal__form__label--comment {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__form__label--comment {
    width: 448px;
  }
}

.modal__form__text--comment {
  position: absolute;
  top: -15%;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 0;
}
.modal__form__textarea:focus {
  border: 1px solid #2196f3;
}
.modal__form__textarea[placeholder="Введіть текст"] {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 15px;
}

.modal__form__checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;
}
@media screen and (max-width: 1199px) {
  .modal__form__checkbox {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__form__checkbox {
    width: 448px;
  }
}

.checkbox__icon__border {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  opacity: 1;
}
.modal__input__checkbox:checked ~ .checkbox__icon__border {
  opacity: 0;
}

.checkbox__icon {
  position: absolute;
  opacity: 0;
}
.modal__input__checkbox:checked ~ .checkbox__icon {
  opacity: 1;
}

.modal__checkbox__text {
  color: #757575;
  padding-left: 25px;
}
@media screen and (max-width: 1199px) {
  .modal__checkbox__text {
    width: 370px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .modal__checkbox__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.modal__checkbox__link {
  color: #2196f3;
}

.modal__btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn__close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn__close:hover .btn__close__icon, .modal__btn__close:focus .btn__close__icon {
  fill: #2196f3;
}

.modal__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: block;
  padding: 10px 50px;
  margin-top: 30px;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .modal__btn {
    margin-left: 85px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .btn__list {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .btn__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .btn__item + .btn__item {
    margin-left: 8px;
  }
}
.button__secondary {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__secondary:hover, .button__secondary:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .img__project {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .img__project {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .img__project {
    width: 370px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .projects__item {
    width: 354px;
  }
  .projects__item {
    margin-bottom: 0;
  }
  .projects__card__text.veb {
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__list {
    display: flex;
    flex-wrap: wrap;
  }
  .projects__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .projects__item:nth-child(3n) {
    margin-right: 0px;
  }
  .projects__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.projects__item {
  position: relative;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__item .projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__overlay__text {
  position: absolute;
  top: 63px;
  left: 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 322px;
  height: 168px;
}
.projects__item:hover .projects__overlay {
  transform: translateY(0);
}

.projects__card {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.projects__card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 4px;
}
.projects__card__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */