.modal__form__checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;
}
.checkbox__icon__border {
  position: absolute;
  left: 40px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $main__text__color;
  border-radius: 2px;
  opacity: 1;
  .modal__input__checkbox:checked ~ & {
    opacity: 0;
  }
}

.checkbox__icon {
  position: absolute;
  left: 40px;
  opacity: 0;
  .modal__input__checkbox:checked ~ & {
    opacity: 1;
  }
}

.modal__checkbox__text {
  @include fonts(400, 12px, 1.16, 0.03em);

  width: 100%;
  color: $secondary__text__color;
  padding-left: 12px;
}
.modal__checkbox__link {
  color: $blue__bg__color;
}
