.btn__menu {
  margin: 0;
  padding: 0;
  border: none;
  background-color: $white__bg__color;
}
@media screen and(max-width:767px) {
  .btn__menu.is-open {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
  }
}
@media screen and(min-width:768px) {
  .btn__menu {
    display: none;
  }
}
.btn__menu.is-open .icon__cross {
  display: block;
}
.icon__cross {
  display: none;
}
.is-open .icon__menu {
  display: none;
}
