.modal__form__checkbox {
  @media screen and (max-width: 1199px) {
    width: 370px;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;
}
.checkbox__icon__border {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $main__text__color;
  border-radius: 2px;
  opacity: 1;
  .modal__input__checkbox:checked ~ & {
    opacity: 0;
  }
}

.checkbox__icon {
  position: absolute;
  opacity: 0;
  .modal__input__checkbox:checked ~ & {
    opacity: 1;
  }
}

.modal__checkbox__text {
  @media screen and (max-width: 1199px) {
    width: 370px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }

  color: $secondary__text__color;

  padding-left: 25px;
}
.modal__checkbox__link {
  color: $blue__bg__color;
}
