.social__media {
  @include centredFlex();
  gap: 10px;
  margin-top: 16px;
}

.social__media__icon {
  fill: $icon__main__color;

  @include animation(fill);

  .social__media__link:hover &,
  .social__media__link:focus & {
    fill: $white__bg__color;
  }
}

.social__media__link {
  @include centredFlex();
  width: 44px;
  height: 44px;
  border-radius: 50%;

  @include animation(background);

  &:hover,
  &:focus {
    background: $blue__bg__color;
  }
}
