@media screen and(max-width:1199px) {
  .container__footer__icon {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and(min-width:1200px) {
  .container__footer__icon {
    margin-left: 70px;
  }
}
.footer__icon {
  fill: $white__bg__color;

  &__title {
    @include fonts(700, 14px, 1.14, 0.03em);

    text-transform: uppercase;

    margin-right: auto;
    margin-bottom: 20px;
    color: $white__bg__color;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
.footer__icon__link {
  @include centredFlex();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  text-align: center;

  @include animation(background);
  &:hover,
  &:focus {
    background: $blue__bg__color;
  }
}
