.button.main {
  font-family: inherit;
  @include fonts(700, 16px, 1.9, 0.06em);
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  background-color: $blue__bg__color;
  color: $white__bg__color;
  @include animation(background-color);
  &:hover,
  &:focus {
    background-color: $bg__btn__color;
  }
}
