@media screen and(max-width:767px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
  }
}
.contacts__link {
  color: $secondary__text__color;
  @include animation(color);
  &:hover,
  &:focus {
    color: $blue__bg__color;
  }
}

@media screen and(max-width:767px) {
  .contacts__icon {
    display: none;
  }
  .contacts__item {
    margin-bottom: 32px;
    &:first-child {
      margin-bottom: 0;
    }
  }
  .contacts__link {
    @include fonts(500, 24px, 1.16, 0.02em);
    &.tel {
      @include fonts(500, 34px, 1.17, 0.02em);
    }
  }
}

@media screen and(min-width:768px) {
  .contacts__link {
    display: flex;
    align-items: center;
    @include fonts(500, 12px, 1.16, 0.02em);
  }
  .contacts__icon {
    display: flex;
    @include centredFlex();
    margin-right: 10px;
    fill: $secondary__text__color;
    @include animation(fill);

    .contacts__link:hover &,
    .contacts__link:focus & {
      fill: $blue__bg__color;
    }
  }
}
@media screen and (max-width: 1199px) {
  .contacts__link.tel {
    margin-top: 10px;
  }
}

@media screen and(min-width:1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
    &__link {
      @include fonts(500, 14px, 1.14, 0.02em);
      padding-top: 32px;
      padding-bottom: 32px;
    }
    &__item + &__item {
      margin-left: 50px;
    }
  }
  .contacts.list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
