.soc__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and(min-width:768px) {
    display: none;
  }
}
.soc__link {
  @include fonts(500, 18px, 1.22, 0.02em);

  color: $blue__bg__color;
}
