.clients__list {
  display: flex;
  gap: 30px;
  @media screen and(max-width:1199px) {
    flex-wrap: wrap;
  }
}
.clients__item {
  width: calc((100% - 1 * 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 2 * 30px) / 3);
  }
}

.clients__title {
  @extend .our__team__title;
}
.clients__icon {
  fill: $icon__main__color;

  @include animation(fill);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: $blue__bg__color;
  }
}
.clients__link {
  @include centredFlex();

  height: 92px;
  border: 1px solid $icon__main__color;
  border-radius: 4px;

  @include animation(border);
  &:hover,
  &:focus {
    border: 1px solid $blue__bg__color;
  }
}
