.quality__icon--box {
  @include centredFlex();
  height: 120px;
  background-color: $secondary__white__color;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.quality__list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and(min-width:1200px) {
    flex-wrap: nowrap;
  }
}

.quality__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media screen and(max-width:767px) {
    text-align: center;
  }

  color: $main__text__color;

  margin-top: 0;
  margin-bottom: 10px;
}
.quality__text {
  @media screen and(min-width:768px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 270px;
  }
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $secondary__text__color;
}
