.quality__icon--box {
  @include centredFlex();
  height: 120px;
  background-color: $secondary__white__color;
  margin-bottom: 30px;
  @include mobile {
    width: 450px;
  }
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
}

.quality__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include desktop {
    flex-wrap: nowrap;
  }
}

.quality__title {
  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  @media screen and(max-width:767px) {
    text-align: center;
  }

  color: $main__text__color;

  margin-top: 0;
  margin-bottom: 10px;
}
.quality__text {
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
  @include fonts(null, 14px, 1.7, 0.03em);

  color: $secondary__text__color;
}
