.contacts__link {
  //   padding-top: 32px;
  //   padding-bottom: 32px;
  @media screen and(max-width:767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  color: $secondary__text__color;
  @include animation(color);
  &:hover,
  &:focus {
    color: $blue__bg__color;
  }
}
.contacts__icon {
  display: none;
}
