.page__header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.container__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and(min-width:480px) and(max-width:767px) {
    width: 480px;
  }
  @media screen and(min-width:768px) {
    width: 768px;
  }
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.menu__container {
  @media screen and(max-width:767px) {
    position: fixed;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    background-color: #fff;
    &.is-open {
      display: block;
    }
  }
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
}
.soc__list {
  display: flex;
  @media screen and(min-width:768px) {
    display: none;
  }
}

.navigation__list {
  @media screen and(min-width:768px) and(max-width:1199px) {
    display: flex;
    margin-left: 87px;
    gap: 50px;
  }
}
.navigation__item {
  @media screen and(max-width:767px) {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 302px;
    }
  }
}
.navigation__link {
  @media screen and(max-width:767px) {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
  }
  //   padding-top: 32px;
  //   padding-bottom: 32px;
  color: $main__text__color;

  @include animation(color);

  &:hover,
  &:focus,
  &.current {
    color: $blue__bg__color;
  }
}
